body{
    margin: 0px;
    padding: 0px;
}
/* global class on custom bootstrap */
/* .row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
} */
/* top section */ 
#thumbnail .img-thumbnail{
    box-shadow: 0px 0px 1px 1px ;
}
.jumbotron{
    background-image: url("resources/assets/backgrounds/landing.jpg");
    background-size: cover;
    margin-bottom: 0px;
    border-image: 0px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* advertisement section */
.space{
    padding: 8%;
}
.drinks{
    box-shadow: solid 5px black;
    padding: 2.5%;
}
#nav{
    background: white;
    padding: 0px;
}
#nav .img-thumbnail{
    border: 0px;
}
#one{
    background: red;
    height: 14vh;
}
#two{
    background: green;
    height: 14vh;
}
/* mid nav */
#midnav{
    background-image: url('resources/assets/backgrounds/foodsBg.jpg')
}
/* subscripe */

#subscribe{
    background-image: url('resources/assets/backgrounds/subscribe.jpg');
    background-size: cover;
    color: #fff;
    padding: 7%;
}
/* footer */
#footer{
    background-color: #F15A29;
    padding: 3%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}